<script>
	function goBack() {
	  if (history.length != 1) {
	    return window.history.back();
	  } else {
	    return window.location.pathname = '/';
	  }
	};
</script>
<li id="micropost-<%= micropost.id %>" %>>
	<%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
	<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
	<span class="content">
		<%= micropost.content %>
		<%= image_tag micropost.picture.url if micropost.picture? %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(micropost.created_at) %> ago.
	</span>
	<span><%= pluralize(micropost.comments.count, 'comment')%> | </span>
	<br/>
	<p style='padding: 4px; text-align: right; display: block; margin: 0px;'>
		<% if current_page?(root_url)|| current_page?(user_path) %>
			<%= link_to 'comment', micropost  %>
		<% else %>
			<a style="cursor: pointer" onclick="goBack()">back</a>
		<%end%>
		<% if current_user?(micropost.user) %>
			<span> | </span>
			<%= link_to 'delete', micropost, method: :delete, data: { confirm: "Are you sure?" } %>
		<% end %>
		<% if micropost.comments.any? && !current_page?(micropost_path(micropost.id)) %>
			<%= render micropost.comments.first, @comments %>
		<% end %>
	</p>
</li>
