<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= render 'layouts/rails_default' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<%= render 'layouts/flash_message'%>
			<%= yield %>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
<script>
	function mobileSizing() {
		var containers = document.querySelectorAll('.container')
		var columns = document.querySelectorAll('.col-md-8')
		if ($(window).height() > $(window).width()) {
			return containers.forEach(function(e) {
				e.style.margin = '0px'
			}),
				columns.forEach(function(e) {
					e.style.width = '100%'
				}),console.log(containers[0].style.margin)
	
		} else {
			return containers.forEach(function(e) {
				e.style.marginLeft = 'auto',
				e.style.marginRight = 'auto'
			}), console.log(containers[1].style.margin)
		}
	}
	window.addEventListener('deviceorientation', mobileSizing)
	mobileSizing()
</script>
